html, body {
    /* height: 100%; */
    margin: 0;
    padding: 0;
}
body {
    background: black;
    height: 100vh;
}

@font-face {
    font-family: 'Droid Sans';
}

#topContainer {
    overflow: auto;
    display: flex;
    flex-direction: column;
    height: 100%;
}

header, footer {
    border: 0;
    display: flex;
    flex: 0 0 auto;
    flex-wrap: wrap;
    background: #b9b9b9;
}
h1 {
    color: black;
    font-family: 'Droid Sans';
}
header h1, footer h1 {
    flex: 1 1 auto;
    text-align: center;
    line-height: 1em;
    padding: 0 0.3em;
}
/* #imageContainer { */
/*     background-color: white; */
/*     flex: 1 1 auto; */
/*     display: flex; */
/*     max-height: 100%; */
/*     max-width: inherit; */
/* } */
/* #imageContainer img { */
/*     height: 100%; */
/*     width: 100%; */
/*     object-fit: contain; */
/* } */
#focusImage {
    background-color: white;
    flex: 1 0 auto;
    /* max-height: 100%; */
    /* max-width: 100%; */
    background-image: url("resources/central-fullsize.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}
a {
    text-decoration: none;
}
a:link {
    color: #000;
}
a:visited {
    color: #777;
}
.hide {
    display: none;
    visibility: hidden;
}
