html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    background: black;
}

@font-face {
    font-family: 'Droid Sans';
}

#topContainer {
    overflow: scroll;
    display: flex;
    flex-direction: column;
    height: 100%;
}

header, footer {
    border: 0;
    display: flex;
    flex: 0.5;
    background: #b9b9b9;
}
header h1 {
    color: black;
    font-family: 'Droid Sans';
    flex: auto;
    text-align: center;
}
footer h1 {
    color: black;
    font-family: 'Droid Sans';
    flex: auto;
    text-align: center;
    vertical-align: bottom;
}
#canvasContainer {
    flex: 2;
    background: white;
}
#mainCanvas {
    border: 0px solid #c3c3c3;
    background: white;
}
a {
    text-decoration: none;
}
a:link {
    color: #000;
}
a:visited {
    color: #777;
}
